<header>
    <nav>
        <div class="logo-container">
            <a href="/">
                <img src="/images/logoA.png" alt="AG Beaters Logo" class="navbar-logo">
            </a>
        </div>

        <div class="menu-toggle" id="menu-toggle">
            ☰ <!-- Ícono de menú hamburguesa -->
        </div>

        <ul class="nav-links" id="nav-links">
            <li><a href="product">Shop</a></li>
            <li><a href="aboutMe">About Me</a></li>
            <li><a href="services">Services</a></li>
            <li><a href="contact">Contact</a></li>
            <li><a href="product/cart"><img width="35" height="35"
                        src="https://img.icons8.com/material-outlined/fafafa/35/shopping-cart-loaded.png"
                        alt="shopping-cart-loaded" /></a>
            </li>
            <li><a href="auth/login"><img width="35" height="35"
                        src="https://img.icons8.com/material-outlined/fafafa/35/user-male-circle.png"
                        alt="user-male-circle" /></a>
            </li>
        </ul>
    </nav>
</header>