<!-- Banner principal -->
<section class="hero">

    <div class="img-div div4">
        <img src="../images/44.jpg" alt="">
    </div>

    <div class="content-hero">
        <img class="logo-section" src="/images/logo2A.png" alt="Logo AG Beater">
        <p>AG Beaters es una marca dedicada a la creación de mazos para bateristas hechos
            a mano, diseñados para
            brindar
            un sonido
            único y personalizado. Cada modelo está elaborado con precisión, combinando calidad artesanal e
            innovación
            para ofrecer
            una experiencia sonora distinta a cada músico.
            Nuestra misión es darle a los bateristas más herramientas para explorar su identidad sonora,
            alejándonos
            de
            los
            productos genéricos y ofreciendo un enfoque más artístico y expresivo.</p>
        <a href="product" class="btn">Ver Productos</a>
    </div>

</section>

<!-- Productos Destacados -->
<section class="products">
    <h2>Descubre nuestra colección</h2>
    <div class="grid-container">
        <div class="producto">
            <img src="/images/mazo1.jpg" alt="Mazo modelo X">
            <h3>Mazo Modelo X</h3>
            <p>$50.00</p>
            <a href="product/id/1" class="btn">Ver más</a>
        </div>
        <div class="producto">
            <img src="/images/mazo2.jpg" alt="Mazo modelo Y">
            <h3>Mazo Modelo Y</h3>
            <p>$55.00</p>
            <a href="product/id/2" class="btn">Ver más</a>
        </div>
        <div class="producto">
            <img src="/images/mazo3.jpg" alt="Mazo modelo Z">
            <h3>Mazo Modelo Y</h3>
            <p>$55.00</p>
            <a href="product/id/3" class="btn">Ver más</a>
        </div>
    </div>
</section>